Options -Indexes

<IfModule mod_headers.c>
  <FilesMatch "\.json$">
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, OPTIONS"
  </FilesMatch>
</IfModule>
